@font-face {
    font-family: MagistralC-Bold;
    src: url(fonts/MagistralC-Bold.otf);
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: MagistralC-Bold;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}
p:first-letter {
    color: #00d8ff;
}
body {
    background-color: #000000;
    padding-bottom: 70px;
}
a {
    text-decoration: none;
    color: #97f2ff;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #00d8ff;
}
.colored {
    color: #00d8ff;
}
.div-header {
    padding-top: 30px;
    padding-bottom: 10px;
    background: url(/img/header_back.png) no-repeat center center;
    background-size: cover;
    text-shadow: 1px 1px 2px #000000, 0 0 1em rgb(0, 216, 255);
}
.logo-content {
    padding-top: 0;
    padding-left: 10px;
    font-size: 50px;
    cursor: pointer;
}
.content-text {
    position: relative;
    font-size: 17px;
    opacity: 0.8;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.9);
}
.show_player {
    cursor: pointer;
}
/* Let's get this party started */

::-webkit-scrollbar {
    width: 10px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 216, 255, 0.87);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(151, 242, 255, 0.65);
}